<div class="container">

      <div class="bg-faded p-4 my-4">
<h1>Profil</h1>

		<% user = current_user %>
		<table class="table">
			<tr>
				<th>Ime</th>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<th>Prezime</th>
				<td><%= user.surname %></td>
			</tr>
			<tr>
				<th>JMBG</th>
				<td><%= user.JMBG %></td>
			</tr>
			<tr>
				<th>Datum rođenja</th>
				<td><%= user.date_of_birth %></td>
			</tr>
			<tr>
				<th>Mjesto rođenja</th>
				<td><%= user.place_of_birth %></td>
			</tr>
			<tr>
				<th>Telefon</th>
				<td><%= user.phone %></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><%= user.email %></td>
			</tr>
			<tr>
				<th>Spol</th>
				<td><%= user.gender %></td>
			</tr>
			<tr>
				<th>Kategorija</th>
				<td><%= user.category %></td>
			</tr>

		</table>
		</div>
<a class="nav-link text-uppercase text-expanded" <%= link_to "Haj",download_path %></a>

	</div>
