<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :student_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :student_surname %>
  </div>

  <div class="field">
    <%= form.label :jmbg %>
    <%= form.number_field :jmbg, id: :student_jmbg %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, id: :student_birthday %>
  </div>

  <div class="field">
    <%= form.label :placebirth %>
    <%= form.text_field :placebirth, id: :student_placebirth %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.number_field :telephone, id: :student_telephone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :student_email %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :student_gender %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :student_username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :student_password %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :student_category %>
  </div>

  <div class="field">
    <%= form.label :index %>
    <%= form.number_field :index, id: :student_index %>
  </div>

  <div class="field">
    <%= form.label :ects %>
    <%= form.number_field :ects, id: :student_ects %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :student_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
